@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import-normalize;

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #0e0f0f;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Poppins', sans-serif;
  padding: 8px 10px;
  width: 350px;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* loading */
.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 6px 0 0 8px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
